In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('Salaries.csv')

In [18]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [19]:
f1.tail()

NameError: name 'f1' is not defined

In [ ]:
f1.head()

In [ ]:
print(f1)

In [ ]:
df.info

In [ ]:
f1.info()

In [ ]:
f1.isnull().sum() # to check for null values

In [ ]:
f1.isnull()

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df.shape # to check the shape of the dataframe

In [ ]:
df.columns  # to check the name of the columns

In [ ]:
df.describe() # basic stats information

In [ ]:
df['salary'] # to get to know about one colummn

In [ ]:
df[['salary', 'service']] # to get info about more than one column

In [ ]:
df.mean()

In [ ]:
# to ignore futute warnings which are not a error

import warnings 
warnings.filterwarnings('ignore')

In [ ]:
df['salary'].mean()

In [ ]:
df['salary'].mode()

In [ ]:
df['salary'].var()

In [ ]:
df['salary'].std()

In [ ]:
df['salary'].skew()

In [ ]:
df['salary'].kurt()

In [ ]:
df['salary'].min()

In [ ]:
df['salary'].max()

In [ ]:
# count of repeating value in dataform


df['rank'].value_counts()

In [ ]:
# anything after : is columns and anything before : is rows

df.iloc[:,:]

In [ ]:
df.iloc[0:50,:]

In [ ]:
df.iloc[0:50,0:4]

In [ ]:
df.iloc[0:50,[1,3,5]]

In [ ]:
# value of a particular cell df.loc meaning

df.loc[0,'salary']

In [ ]:
df.loc[10,'service']

In [ ]:
df

In [ ]:
df.groupby(by = 'rank').mean()

In [ ]:

import warnings 
warnings.filterwarnings('ignore')

In [21]:
df.groupby(by = 'rank')[['salary','service']].mean()

                  salary    service
rank
AssocProf   91786.230769  11.307692
AsstProf    81362.789474   2.210526
Prof       123624.804348  21.413043

In [32]:
import pandas as pd

In [33]:
df=pd.read_csv('Salaries.csv',nrows=10)